---
import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate } from "../lib/formatDate";
import { Link } from "../lib/Link";
import { Paragraph } from "../lib/prose/Paragraph";
import type { PostFrontmatter } from "../types";

let posts = await Astro.glob<PostFrontmatter>("../../posts/**/*.mdx");

if (import.meta.env.PROD) {
  posts = posts.filter((post) => !post.frontmatter.draft);
}

posts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});

const userId = '407922731645009932';
const res = await fetch(`https://api.lanyard.rest/v1/users/${userId}`);
const userData = await res.json();
---

<BaseLayout
  title="rohan"
  description="little corner on the internet."
>
  <h1 slot="header-content" class="text-gray-600 dark:text-gray-500">Rohan</h1>
  <main class="py-10 rohan-prose">
    <Paragraph>
      <small class="text-gray-600 dark:text-gray-500"
        >23, He/Him</small
      >
      <br />
      I'm a passionate software engineer with a keen interest in creating good user experiences. I also enjoy freelancing, content creation.
    </Paragraph>
  </main>
    <Paragraph>
      <small class="text-gray-600 dark:text-gray-500"
        >Projects</small>
    </Paragraph>
  <div class="projects-grid grid grid-cols-3 gap-4">
    <!-- Row 1 -->
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/pokemon" target="_blank" rel="noopener noreferrer">Pokemon</a></h3>
      <p class="text-sm">2D platformer featuring beloved Pokémon characters.</p>
    </div>
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/meet" target="_blank" rel="noopener noreferrer">Meet</a></h3>
      <p class="text-sm">Video call application with advanced features.</p>
    </div>
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/scrapetron" target="_blank" rel="noopener noreferrer">Scrapetron</a></h3>
      <p class="text-sm">Python package for web scraping and data extraction.</p>
    </div>
    <!-- Row 2 -->
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/todoapp" target="_blank" rel="noopener noreferrer">Todoapp</a></h3>
      <p class="text-sm">Sleek Todo app for iOS devices.</p>
    </div>
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/Zenitsu-bot" target="_blank" rel="noopener noreferrer">Zenitsu-bot</a></h3>
      <p class="text-sm">Versatile Discord moderation bot with games.</p>
    </div>
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/tanoshi" target="_blank" rel="noopener noreferrer">Tanoshi</a></h3>
      <p class="text-sm">Dark scheme for Visual Studio Code.</p>
    </div>
    <!-- Row 3 -->
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/hexpicker" target="_blank" rel="noopener noreferrer">Hexpicker</a></h3>
      <p class="text-sm">Browser extension for color picking.</p>
    </div>
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/dekhocar" target="_blank" rel="noopener noreferrer">Dekhocar</a></h3>
      <p class="text-sm">User-friendly car rental website.</p>
    </div>
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/ipynb-image-extract" target="_blank" rel="noopener noreferrer">IpynbImages</a></h3>
      <p class="text-sm">Python package to extract images from ipynb.</p>
    </div>
    <!-- Row 4 -->
    <div class="project">
      <h3 class="text-lg font-bold"><a href="https://github.com/rohzzn/pages" target="_blank" rel="noopener noreferrer">Pages</a></h3>
      <p class="text-sm">Figma plugin to create pages.</p>
    </div>
  </div>

  <br />
  <br />

  <ul>
    {
      posts.map(({ frontmatter }) => {
        const date = new Date(frontmatter.date);

        return (
          <li>
            <Link
              href={frontmatter.path}
              class="flex flex-row gap-2 justify-between"
              noUnderline
            >
              <h2 class="text-gray-800 dark:text-gray-300 font-sans">
                {frontmatter.title}
              </h2>
              <time
                datetime={date.toISOString()}
                class="text-gray-600 dark:text-gray-400 tabular-nums tracking-tighter shrink-0"
              >
                {formatDate(date)}
              </time>
            </Link>
          </li>
        );
      })
    }
  </ul>
  <style>
    ul:hover li:not(:hover) :where(h2, time) {
      @apply text-gray-600 transition-colors;
      :global(.dark) & {
        @apply text-gray-500;
      }
    }
  </style>
</BaseLayout>